@import 'base';
#works-page {
  border-bottom: 1px dashed $lightgrey;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h3 {
      padding: 5rem 0 2rem 0;
      color: $yellow;
      font-size: 2rem;
    }
    .work-list {
      display: flex;
      color: $navColor;
      margin-bottom: 30px;
      text-align: center;
      h4 {
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-size: 1rem;

        &:hover {
          background-color: #eee;
        }
      }
    }

    .work-slider {
      width: 100%;
      height: 60vh;
      @include mediumMedia() {
        height: 45vh;
      }
      .slider-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        height: 100%;
        .slider-weather-project {
          transition: all 0.8s;
          -webkit-transition: all 0.8s;
          position: absolute;
          top: 0;
          margin: 0 auto;
          opacity: 1;
          overflow: hidden;
          width: 40rem;
          @include smallMedia() {
            width: 33rem;
          }
          .image-container {
            border-radius: 8px;
            width: 100%;
            height: auto;
            img {
              width: 100%;
              height: auto;
              box-shadow: 0 2px 8px 3px $lightgrey;
              border-radius: 8px;
              cursor: pointer;
            }
          }
          h4 {
            margin-top: 50px;
            color: $red;
            font-weight: lighter;
            font-size: 0.7rem;
            letter-spacing: 6px;
            font-family: $Raleway;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.5rem;
          }
        }

        .slider-pizza-project {
          transition: all 0.8s;
          -webkit-transition: all 0.8s;
          opacity: 0;
          position: absolute;
          transform: translateX(-150%);
          -webkit-transform: translateX(-150%);
          top: 0;
          visibility: hidden;
          width: 40rem;
          overflow: hidden;
          @include smallMedia() {
            width: 33rem;
          }
          .image-container {
            border-radius: 8px;
            width: 100%;
            height: auto;
            img {
              width: 100%;
              height: auto;
              box-shadow: 0 2px 8px 3px $lightgrey;
              border-radius: 8px;
              cursor: pointer;
            }
          }
          h4 {
            margin-top: 50px;
            color: $red;
            font-weight: lighter;
            font-size: 0.7rem;
            letter-spacing: 6px;
            font-family: $Raleway;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.5rem;
          }
        }

        .slider-calculator-project {
          transition: all 0.8s;
          -webkit-transition: all 0.8s;
          position: absolute;
          visibility: hidden;
          transform: translateX(-150%);
          -webkit-transform: translateX(-150%);
          top: 0;
          opacity: 0;
          width: 40rem;
          overflow: hidden;
          @include smallMedia() {
            width: 30rem;
          }
          .image-container {
            border-radius: 8px;
            width: 100%;

            img {
              width: 100%;
              height: 25rem;
              box-shadow: 0 2px 8px 3px $lightgrey;
              border-radius: 8px;
              cursor: pointer;
              @include smallMedia() {
                height: 20rem;
              }
            }
          }
          h4 {
            margin-top: 50px;
            color: $red;
            font-weight: lighter;
            font-size: 0.7rem;
            letter-spacing: 6px;
            font-family: $Raleway;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.5rem;
          }
        }

        .slider-calendar-project {
          transition: all 0.8s;
          -webkit-transition: all 0.8s;
          position: absolute;
          visibility: hidden;
          transform: translateX(-150%);
          -webkit-transform: translateX(-150%);
          top: 0;
          opacity: 0;
          width: 40rem;
          overflow: hidden;
          @include smallMedia() {
            width: 30rem;
          }
          .image-container {
            border-radius: 8px;
            width: 100%;

            img {
              width: 100%;
              height: 25rem;
              box-shadow: 0 2px 8px 3px $lightgrey;
              border-radius: 8px;
              cursor: pointer;
              @include smallMedia() {
                height: 20rem;
              }
            }
          }
          h4 {
            margin-top: 50px;
            color: $red;
            font-weight: lighter;
            font-size: 0.7rem;
            letter-spacing: 6px;
            font-family: $Raleway;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.5rem;
          }
        }

        .active-slide {
          visibility: visible;
          transform: translateX(0);
          -webkit-transform: translateX(0);
          transition: all 0.8s;
          -webkit-transition: all 0.8s;
          opacity: 1;
          margin: 0 auto;
          overflow: hidden;
        }

        .hide-slide {
          visibility: hidden;
          transition: all 0.8s;
          -webkit-transition: all 0.8s;
          transform: translateX(-150%);
          -webkit-transform: translateX(-150%);
          opacity: 0;
          overflow: hidden;
        }
      }
    }
  }
}

@keyframes fade-slide-out {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 0;
    transform: none;
  }
}
