@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/*font family*/
/*font size*/
/*colors*/
/*media query*/
/*small device*/
/*media device*/
/*large device*/
/*x-large device*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
  font-family: "Abril Fatface", cursive;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

body {
  min-height: 100vh;
}

#contact-page {
  width: 100vw;
}

#contact-page .title {
  padding-top: 8rem;
}

#contact-page .title h3 {
  margin-bottom: 30px;
  color: #e4ae26;
  font-size: 2rem;
  text-align: center;
}

#contact-page .title p {
  color: #900;
  font-weight: lighter;
  font-size: 0.8rem;
  letter-spacing: 6px;
  font-family: "Raleway", "Century Gothic", "TeXGyreAdventor", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#contact-page .container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-page .container .contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  width: 60%;
}

@media (max-width: 992px) {
  #contact-page .container .contact-info {
    width: 75%;
  }
}

@media (max-width: 480px) {
  #contact-page .container .contact-info {
    width: 85%;
  }
}

#contact-page .container .contact-info .item {
  height: 160px;
  width: 33%;
  background-color: #282c34;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  #contact-page .container .contact-info .item {
    height: 100px;
    width: 100%;
    margin: 10px 0;
  }
}

#contact-page .container .contact-info .item:hover {
  background-color: #e4ae26;
}

#contact-page .container .contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}

@media (max-width: 992px) {
  #contact-page .container .contact-form {
    width: 75%;
  }
}

@media (max-width: 480px) {
  #contact-page .container .contact-form {
    width: 85%;
  }
}

#contact-page .container .contact-form input,
#contact-page .container .contact-form textarea {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border: none;
  background-color: #282c34;
  outline: none;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
}

#contact-page .container .contact-form .name,
#contact-page .container .contact-form .email {
  max-width: 49%;
}

@media (max-width: 768px) {
  #contact-page .container .contact-form .name,
  #contact-page .container .contact-form .email {
    max-width: 100%;
  }
}

#contact-page .container .contact-form .message {
  min-height: 200px;
  resize: vertical;
  margin-bottom: 2rem;
}

#contact-page .container .contact-form button {
  border-radius: 5px;
  width: 180px;
  background-color: transparent;
  color: #e4ae26;
  border: 1px solid #e4ae26;
  padding: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin: auto;
  cursor: pointer;
}

#contact-page .container .contact-form button:hover {
  background-color: #e4ae26;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  color: #ffffff;
}

#contact-page .container .back-top {
  position: fixed;
  bottom: 60px;
  right: 40px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transform: translateY(3rem);
  -webkit-transform: translateY(3rem);
  opacity: 0;
}

#contact-page .container .back-top a {
  border: 2px solid #e4ae26;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#contact-page .container .back-top a:hover {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  border-radius: 50%;
  background-color: #e4ae26;
}

#contact-page .container .back-top a:hover i {
  color: #ffffff;
}

#contact-page .container .back-top a i {
  color: #e4ae26;
}

#contact-page .container .show-back-top {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}

@media (max-width: 480px) {
  #contact-page .container .show-back-top {
    opacity: 0;
  }
}

footer {
  background-color: #282c34;
  color: #ffffff;
  padding: 5rem 0;
  text-align: center;
}

footer .socialIcon {
  margin-top: 1rem;
}

footer .socialIcon a {
  margin: 0 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 3px 6px #999999;
  font-size: 26px;
  transition: all 0.2s;
  position: relative;
  color: #282c34;
}

footer .socialIcon a:hover {
  transform: scale(1.3);
  border-radius: 50%;
}

footer .socialIcon a:hover .fa-facebook-f {
  color: #3b5998;
}

footer .socialIcon a:hover .fa-linkedin-in {
  color: #006fb3;
}

footer .socialIcon a:hover .fa-github {
  color: #212121;
}
/*# sourceMappingURL=contact.css.map */